<form action="/post" method="POST">
<div class="d-flex justify-content-center">
<div class="input-group  w-50 mt-5" id="input">
  <input type="text" name="url" class="form-control" placeholder="輸入網址" aria-label="URL" value=""
    aria-describedby="URL" required>
  <div class="input-group-append">
    <button class="btn btn-secondary" type="submit" id="button">Shortener</button>
  </div>
 </div>
</div>
</form>